.git
.gitignore
.env
.env.*
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
public/build
public/hot
public/storage
tests
_ide_helper.php
*.log
.phpunit.result.cache
.phpunit.cache
README.md
